<!DOCTYPE html>
<html>
  <head>
    <title>TaskIR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Buda:300|Bungee+Hairline|Megrim|Poiret+One|Sarabun|Vampiro+One" rel="stylesheet">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="rando-calrissian">
    <div class='ui container'>
      <%= yield %>
    </div>
    </div>
  </body>
</html>
